<!DOCTYPE html> 
<html ng-app="..." ng-controller="AppCtrl">
<head>
<title>Erika.lu</title>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<%= stylesheet_link_tag    "application", media: "all" %>
<%= csrf_meta_tags %>
</head>

<body>
  <div id="wrapper">
    <header id="header"></header>
    <main id="stage"></main>
    <footer id="footer"></footer>
  </div>

<%= javascript_include_tag "application" %>
</body>
</html>
